*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: #ffff;
    color: #332f7e;
}

h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}
h1 { font-family: Lato; font-size: 19px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 20.9px;}
h2 { font-family: Lato; font-size: 50px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 20.9px; } h3 { font-family: Lato; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 15.4px; } p { font-family: Lato; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 20px; } blockquote { font-family: Lato; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Lato; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 18.5714px; }



@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') 
  format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.flexslider{
    width: 100%;
    position: relative;
    background: #ffff;
}

.slides{
    overflow: hidden;
}

.slides img{
    width: 100%;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-control-nav{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    z-index: 999;
}

.flex-control-nav li{
    display: inline-block;
    margin: 0 6px;
}

.flex-control-nav li a{
    display: block;
    background: #777777;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    text-indent: -9999px;
}

.flex-control-nav li a:hover{
    background: #2E2E2E;
}

.flex-control-nav li a.flex-active{
    background: #2E2E2E;    
}

.flex-direction-nav a{
    display: block;
    text-decoration: none;
    position: absolute;
    top: 50%;
    z-index: 999;
    width: 40px;
    height: 40px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flex-direction-nav .flex-prev{
    left: 0;
}

.flex-direction-nav .flex-next{
    right: 0;
}

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: #fff;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

.flex-caption p{
    font-family: Lato;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 45px;
    color: #fff;
    font-weight: bold;
}

.flexslider:hover .flex-direction-nav .flex-prev{
    opacity: 0.7;
    left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover{
    opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next{
    opacity: 0.7;
    right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover{
    opacity: 1;
}



    header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            transition: 0.7s;
            padding: 30px 20px;
            z-index: 10;
        }
        header.abajo{
            background: #fff;
            padding: 15px 20px;
        }
        header .logo{
            position: relative;
            color: #fff;
            font-weight: bold;
            font-size: 2em;
            letter-spacing: 2px;
            transition: 1.5s;
            text-decoration: none;
        }
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        header ul{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        header ul li{
            list-style: none;
        }

        header ul li a{
            position: relative;
            font-family: helvetica;
            margin: 0 15px;
            text-decoration: none;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 600;
            transition: 0.7s;
        }
        header.abajo .logo,
        header.abajo ul li a{
            color: #000;
        }

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
  }
}





button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:blueviolet; }



#cronograma{
     text-align: center;
     margin-top: 40px;
}

#nuestros-programas{
    background-color: #ffff;
    color: #332f7e;
    text-align: center;
}

#nuestros-programas .container{
    padding: 50px 12px;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}
#nuestros-programas .carta1{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}
#nuestros-programas .carta2{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.0)
    )
    

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.0)
    )
    ,url("media/2.jpeg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.0)
    )
    ,url("media/3.jpeg");

}



.carta1:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.0)
    )
    ,url("media/4.jpeg");

}



.carta1:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.0)
    )
    ,url("media/5.jpeg");
}

.carta1:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.0)
    )
    ,url("media/6.jpeg");

}


.carta2:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.0)
    )
    ,url("media/7.jpeg");

}



.carta2:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.0)
    )
    ,url("media/8.jpeg");
}

.carta2:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.0)
    )
    ,url("media/9.jpeg");

}



#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    
    height: 400px;
    background-image: url(media/footer.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat; }

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }


    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 0px;
    }

    #nuestros-programas h2{
        font-size: 4em;
    }



    #nuestros-programas .carta{
        padding: 50px;
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }




        #nuestros-programas .carta1{
        padding: 50px;
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }
            #nuestros-programas .carta2{
        padding: 50px;
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }





    #caracteristicas{
        background-image: url("media/background-2.jpeg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }


@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #362f7f;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #a5dc86f2;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

    #cronograma p{
        display: block;
        margin-bottom: 30px;
    }
    #cronograma h2{
    margin-top: 0;
    font-size: 3.2em;
}

.grid {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
    opacity: 1;
}

.grid .item {
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(33.333333% - 20px);
}

.grid .item-contenido {
    position: relative;
}

.grid .item img {
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay.activo {
    display: flex;
}

.overlay img {
    max-width: 100%;
}

.overlay .descripcion {
    margin-left: 50px;
    display: block;
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    max-width: 50%;
}

.contenedor-img {
    position: relative;
}
 form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
 .barra-busqueda {
    width: 45%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 20px;
    border-radius: 100px;
    border: 30%;
    text-align: center;
    font-size: 16px;
}


button#btn-cerrar-popup {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}



 .categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 .categorias a {
    color: #68b540;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}

.button, .about-us__cta, .pricing-table__cta {
  display: inline-block;
  line-height: 2.5em;
  padding: 0 1.5em;
  cursor: pointer;
  margin-bottom: 1em;
  border: none; }
.pricing-title {
  text-align: center; }

.pricing-table {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  border: 1px solid #68b540;
  margin-bottom: 2em; }
  .pricing-table__title {
    background: #68b540;
    padding: 1em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); }
    .pricing-table__title span {
      color: #fff;
      display: inline-block;
      padding-left: .2em; }
  .pricing-table__price {
    color: black;
    font-size: 4em;
    text-align: center; }
    .pricing-table__price:before {
      content: "$";
      font-size: .5em; }
  .pricing-table__feature {
    color: black;
    text-align: center;
    padding: .5em 1em;
    border-bottom: 1px solid #68b540;
    width: 90%;
    margin: 0 auto; }
  .pricing-table__cta {
    border-radius: 10px;
    background: #68b540;
    color: #fff;
    margin: 1em auto;
    display: table; }
    .pricing-table__cta:hover {
      background: #362f7fa3;
      text-decoration: none; }
    .pricing-table__cta:active {
      -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
      transform: scale(0.97); }
 .xl-1-3,
  .ed-item.xl-1-3 {
    width: 33.33333%; }
     .l-1-3,
  .ed-item.l-1-3 {
    width: 33.33333%; }
    .ed-container {

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
.ed-item {
  margin: 0;
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.ed-item {
  width: 100%; }
  .ed-item.ed-container {
    padding-left: 0;
    padding-right: 0; }
.no-padding.ed-container > .ed-item {
  padding-left: 0em;
  padding-right: 0em; }

.no-padding.ed-item {
  padding-left: 0em;
  padding-right: 0em; }

.padding {
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.padding-2 {
  padding-left: 1.875em;
  padding-right: 1.875em; }

.padding-3 {
  padding-left: 2.8125em;
  padding-right: 2.8125em; }



 .contenedor figure{
       position:relative;
        height: 400px;
        cursor: pointer;
        width: 90%;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }
    .contenedor figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .contenedor figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: #a5dc8699;
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .contenedor figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    }
    .contenedor figure:hover > .capa h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .contenedor figure:hover > img{
        transform: scale(1.3);
    }
    .contenedor figure .capa h3{
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .contenedor figure .capa p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    }